@font-face {
  font-family: 'SCDream6';
  src: url('@/assets/SCDream6.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Simplehae';
  src: url('@/assets/Cafe24Simplehae-v2.0.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

// ==== SCSS 변수 ====
$primary: #5A45FF;
$secondary: #F1F3F5;
$success: #00C471;
$danger: #FF4D4F;

$font-family-sans-serif: 'SCDream6', 'Noto Sans KR', sans-serif;
$headings-font-family: 'SCDream6', 'Noto Sans KR', sans-serif;
$headings-font-weight: 500;
$border-radius: 0.75rem;
$input-padding-y: 0.5rem;
$input-padding-x: 1rem;

// === Bootstrap 마지막에 import ===
@import "bootstrap/scss/bootstrap";

// === 기본 폰트 설정 ===
body {
  font-family: 'SCDream6', sans-serif;
  // font-weight: bold;
  font-size: 0.75rem; // 기본 16px
  line-height: 1.6;
  color: #212529;
  
  @media (min-width: 768px) {
    font-size: 1.025rem; // 18px
  }

  @media (min-width: 1200px) {
    font-size: 1.35rem; 
  }
}

// === 제목 크기 반응형 ===
h1 {
  font-size: 2rem;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }

  @media (min-width: 1200px) {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 1.75rem;

  @media (min-width: 768px) {
    font-size: 2.125rem;
  }

  @media (min-width: 1200px) {
    font-size: 3.0rem;
  }
}

h3 {
  font-size: 1.5rem;

  @media (min-width: 768px) {
    font-size: 1.75rem;
  }

  @media (min-width: 1200px) {
    font-size: 2.5rem;
  }
}

// 버튼 등 주요 UI 글자도 통일
input,
select,
textarea,
.card-title,
.nav-link {
  font-family: 'SCDream6', 'Noto Sans KR', sans-serif;
  font-weight: 700;
  font-size: inherit; // body에 맞춰 감
}

button,
.btn {
  font-size: 1.025rem;

  @media (min-width: 768px) {
    font-size: 1.05rem;
  }

  @media (min-width: 1200px) {
    font-size: 1.25rem;
  }
}